* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/*_________________common_________________*/
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126.316%;
  letter-spacing: -0.76px;
}

.main-content {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 1.6rem;
  line-height: 5rem;
  min-width: 11.8rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999rem;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/*_________________header_________________*/
.header {
  background-color: #fffcf4;
  z-index: 1;
}

.header.fixed {
  position: sticky;
  top: -2.8rem;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 3.6rem 0 0.8rem;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 0.8rem 2.1rem;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 0.1rem 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 2.1rem;
  bottom: 0.6rem;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: #171100;
}

.header .btn_signup {
  min-width: 14.4rem;
}

.header .action {
  margin-left: 4.9rem;
}

/*_________________hero_________________*/
.hero {
  padding-top: 5.6rem;
  padding-bottom: 6.5rem;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 47rem;
  height: 68.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

.hero .media-block .hero-summary {
  padding: 2.4rem;
  position: absolute;
  bottom: 4.8rem;
  left: 30rem;
  width: 27rem;
  height: 24.4rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  margin-bottom: 1.4rem;
  align-items: center;
}

.hero-summary .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 1.6rem;
}

.hero-summary .info .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185.714%;
}

.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}

/* hero right */
.hero .content-block {
  width: 52%;
  padding-left: 13rem;
  padding-top: 6.4rem;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  line-height: 117.241%;
  letter-spacing: -0.116rem;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 166.667%;
}

.hero .desc1 {
  margin-top: 2.8rem;
  margin-bottom: 3.8rem;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.btn.hero-cta {
  width: 18rem;
  line-height: 6.4rem;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 2.8rem;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cta-group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.07);
  margin-right: 1.4rem;
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}

.hero .desc2 {
  margin-top: 0.8rem;
}

.hero .desc2 strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  line-height: 122.727%;
  margin-right: 1.4rem;
}

.hero .desc2 strong:nth-child(2) {
  margin-left: 2.8rem;
}

/*_________________popular-top_________________*/

.popular {
  padding: 200px 0;
}

.popular-top .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 18px;
  line-height: 166.667%;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

/*_________________course-list_________________*/
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-list .course-item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-list .course-item:hover {
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.popular .course-item .info {
  margin: 16px 22px 22px;
}

.popular .info .head {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.popular .info .head .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.popular .info .head .rating {
  margin-left: auto;
  color: var(--primary-color);
  line-height: 175%;
}

.popular .info .desc {
  color: #5f5b53;
  line-height: 185.714%;
  margin-bottom: 12px;
}

.popular .info .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .info .foot .price {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.popular .info .foot .btn {
  width: 118px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.popular .info .btn:hover {
  background-color: var(--primary-color);
  border-color: transparent;
  cursor: pointer;
}
